<style>
#msrfqapp {padding: 0 5px;}
#msrfqapp ul {margin: 0; padding: 0; font-size: 0.7em; }
#msrfqapp li {list-style: none; float: left; padding-right: 5px;}
#msrfqapp li > div {padding: 3px 0;}
#msrfqapp select {min-width: 100px;}
.orange td, .orange th {text-align: left !important;}
.orange th > span {cursor: pointer;}
div.clear {clear: both;}
[ng-cloak] {display: none;}
.arrowup {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 7px solid #f00;
	border-top: 0;
	display: inline-block;

	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out; /** Chrome & Safari **/
	-moz-transition: all 0.2s ease-in-out; /** Firefox **/
	-o-transition: all 0.2s ease-in-out; /** Opera **/
}
.rotate {
	/* Rotate div */
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
}
.nopointer {cursor: default !important;}
.floatL {float: left;}
.floatR {float: right;}
div.warning {font-weight: normal; padding-top: 12px;}
div.ui-datepicker {font-size:11px;}
input.hasDatepicker {width: 7em;}

/* ui css fix */
.ui-dialog .ui-dialog-titlebar-close span {margin: -8px 0 0 -8px;}
button.button {border: 0;}
</style>

<div id="msrfqapp" ng-app="msApp">
<div ng-controller="rfqCtrl" ng-cloak>
	<ul>
		<li><div>Submission Source</div><select ng-model="lookupSource" ng-options="o.value as o.label for o in rfqSourceOptions" ng-change="showLoadMoreButton()"></select></li>
		<li><div>RFQ Status</div><select ng-model="searchCriteria.service_status" ng-options="o.value as o.label for o in rfqStatusOptions" ng-change="syncModels()"></select></li>
		<li><div><span class="popupInfo" onmouseout="nd();" onmouseover="overlib('All Finished = (Ready, Requested Docs, Sent Order Docs, Working)&lt;br /&gt;All Unfinished = (Bad NPANXX, Clarification, Internal Review, Processing, SPR Needed)', WIDTH, 500);">Service Status</span></div>
			<select ng-model="searchCriteria.loc_detail.service_status" ng-options="o.label for o in serviceStatusOptions" ng-change="syncModels()"></select></li>
		<li><div>Product Type</div><select ng-model="searchCriteria.loc_detail.product_type" ng-options="o.label for o in productTypeOptions" ng-change="syncModels()"></select></li>
		<li><div>From</div><input ui-date ng-model="lookupStartDate" disable-key></li>
		<li><div>To</div><input ui-date ng-model="lookupEndDate" disable-key></li>
		<li><div><span class="popupInfo" onmouseout="nd();" onmouseover="overlib('Searches for RFQ# or Quote ID will ignore all other search criteria.&lt;br /&gt;Other Find options use all other criteria (Responsible, Status, etc.).', WIDTH, 400);">Find</span></div>
		<select ng-model="searchField" ng-options="o.value as o.label for o in searchFieldOptions" ng-change="searchValue = ''"></select>
		<input ng-model="searchValue" ng-change="syncModels()"></li>
		<li ng-click="loadMore()" ng-show="showLoadMoreButton()"><div>&nbsp;</div><a class="micro button blue">Refresh</a></li>
		<li ng-show="userType == 'MasterAgent'"><div>&nbsp;</div><a ng-click="exportRfq()">Export</a></li>
		<li><div>&nbsp;</div><a class="micro button orange" ng-click="memorize()">Memorize</a></li>
	</ul>
	<div class="clear"></div>
	<div class="pT10 pB5 std bold pLinks floatL">Total: {{numberOfFiltered()}} RFQ(s), including {{numberOfLocations()}} service locations.
	{{currentPage + 1}} / {{nop = numberOfPages()}} page(s)
	<a class="micro button black" ng-show="currentPage > 0" ng-click="setPage(-1)">Previous</a>
	<a class="micro button black" ng-show="currentPage < nop - 1" ng-click="setPage(1)">Next</a>
	</div>
	<div class="std pLinks warning floatR" ng-show="sizeOfData() > 500">Note: too many data will slow down instant search, you may reduce the data size by selecting smaller date range.</div>
	<div class="clear"></div>
	<table class="orange w100">
		<tr>
		<th ng-repeat="key in natualOrder(rfqs.headers)" ng-class="{orangeSortCol: key == sortField}" style="{{rfqs.headers[key]['style']}}">
			<span ng-class="{nopointer: isMasked(key)}" ng-bind-html-unsafe="rfqs.headers[key]['label']" ng-click="setSortKey(key)"></span> <span class='arrowup' ng-class="{rotate: sortDesc}" ng-show="key == sortField"></span></th>
		</tr>
		<tbody ng-show="rfqs.data.length <= 0"><tr><td colspan="10">No result found.</td></tr></tbody>
		<tbody ng-repeat="row in filtered() | orderByStripped:sortField:sortDesc | startFrom: currentPage*pageSize | limitTo: pageSize">
			<tr highlight class="orangeBg4">
				<td ng-repeat="key in natualOrder(rfqs.headers)" ng-bind-html-unsafe="showRow(showSubAgentFlag, row['sell_through'], row, key)"></td>
			</tr>
			<tr highlight ng-repeat="loc in row.loc_detail_mod">
				<td ng-repeat="key in natualOrder(rfqs.headers)" ng-bind-html-unsafe="showRow(showSubAgentFlag, row['sell_through'], loc, key)"></td>
			</tr>
		</tbody>
	</table>
</div>
</div>

<script src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="//code.angularjs.org/1.0.1/angular-resource-1.0.1.min.js"></script>
<!--script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js"></script-->
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
<script src="/ma/js/object.keys.js"></script>
<script src="/ma/js/ms_app.js"></script>
